<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palenggo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Palenggo">
        <activity android:name=".PendingRecipeActivity"></activity>
        <activity android:name=".addRecipesActivity" />
        <activity android:name=".UtilitiesActivity"></activity>
        <activity android:name=".PaidBillsActivity" />
        <activity android:name=".PayBillActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".ViewRecipeListActivity" />
        <activity android:name=".RecipeDetailsActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>